/* -------------------- GLOBAL ELEMENTS -------------------- */
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

.linkText {
  text-decoration: none;
  color: black;
}

.linkText:hover {
  text-decoration: underline;
}

/* -------------------- NAV BAR -------------------- */
.navBarFullDiv {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 65px;
  background-color: rgba(234, 234, 234, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.navBarLeft {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navBarRight {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.navBarHeader {
  font-size: 30px;
  font-weight: bold;
}

.navBarLink {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
  margin: 0 5px;
}

.selectedNavLink {
  color: rgba(0, 152, 195, 0.8);
}

/* -------------------- MAIN APP -------------------- */
.appFullDiv {
  background-color: rgba(209, 209, 183, 1);
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.appInsideDiv {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  margin-top: 0%;
  margin-bottom: 0em;
  padding-top: 90px;
  padding-bottom: 0%;
}

/* -------------------- SIGN IN PAGE -------------------- */
.signInFullDiv {
  display: flex;
  justify-content: space-evenly;
  width: 75vw;
  color: black;
}

.authFormDiv {
  margin-top: 35px;
  min-width: 450px;
  width: 35%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.authFormHeader {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}

.login-authFormDiv {
  background-color: orange;
}

.signup-authFormDiv {
  background-color: lightskyblue;
}

.authBtnDiv {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.authSignInBtn {
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 135px;
  height: 30px;
}

.authSignInBtn:hover {
  background-color: lightseagreen;
}

.oAuthText {
  color: black;
}

.oAuthText:hover {
  color: black;
  text-decoration: none;
}

.authForm {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.authPreBtnDiv {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.authInputDiv {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.authFormLabel {
  width: 150px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.authInputBox {
  width: 150px;
  height: 25px;
  padding: 0;
  font-size: 15px;
}

.authErrorMessage {
  font-size: 16px;
}

/* -------------------- PORTFOLIO -------------------- */
.portFullDiv {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
}

.portActionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
}

.cashHeader {
  margin-bottom: 15px;
}

.portFormFullDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.portValueHeader {
  margin-bottom: 15px;
}

/* -------------------- STOCK -------------------- */
.stockFullDiv {
  margin-bottom: 15px;
}

/* -------------------- TRANSCTION -------------------- */
.transactFullDiv {
}

/* -------------------- SINGLE TRANSCTION -------------------- */
.singleTransactFullDiv {
  margin-bottom: 15px;
}

/* -------------------- FORM -------------------- */
.formFullDiv {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
}

.formHeader {
}

.formLabel {
  width: 100px;
}

.formInput {
  height: 25px;
  width: 75px;
  border-radius: 3px;
  font-size: 17px;
}

.formBtn {
  height: 30x;
  width: 100px;
  font-size: 18px;
  border-radius: 5px;
}

.formSectionDiv {
  display: flex;
  align-items: center;
}

/* -------------------- BUY FORM -------------------- */
.buyFormFullDiv {
  background-color: aqua;
}

/* -------------------- SELL FORM -------------------- */
.sellFormFullDiv {
  background-color: coral;
}

.sellFormSelect {
  height: 25px;
  width: 80px;
  border-radius: 3px;
  font-size: 17px;
}
