/* -------------------- GLOBAL ELEMENTS -------------------- */
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

.linkText {
  text-decoration: none;
  color: black;
}

.linkText:hover {
  text-decoration: underline;
}

/* -------------------- HOME PAGE -------------------- */
.homePageHeader {
  text-align: center;
  margin: 15px 0;
  font-size: 35px;
}

.homeImg {
  width: 100vw;
  object-fit: contain;
}

/* -------------------- NAV BAR -------------------- */
.navBarFullDiv {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 65px;
  background-color: rgba(234, 234, 234, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.navBarLeft {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navBarRight {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.navBarHeader {
  font-size: 30px;
  font-weight: bold;
}

.navBarLink {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
  margin: 0 5px;
}

.selectedNavLink {
  color: rgba(0, 152, 195, 0.8);
}

/* -------------------- MAIN APP -------------------- */
.appFullDiv {
  background-color: rgba(209, 209, 183, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.appInsideDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: 65px;
}

.sigText {
  text-align: right;
  margin: 20px 40px 30px 0;
  font-style: italic;
  font-weight: 800;
}

/* -------------------- SIGN IN PAGE -------------------- */
.signInFullDiv {
  display: flex;
  justify-content: space-evenly;
  width: 75vw;
  color: black;
}

.authFormDiv {
  margin-top: 35px;
  min-width: 450px;
  width: 35%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.authFormHeader {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}

.login-authFormDiv {
  background-color: orange;
}

.signup-authFormDiv {
  background-color: lightskyblue;
}

.authBtnDiv {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.authSignInBtn {
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 135px;
  height: 30px;
}

.authSignInBtn:hover {
  background-color: lightseagreen;
}

.oAuthText {
  color: black;
}

.oAuthText:hover {
  color: black;
  text-decoration: none;
}

.authForm {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.authPreBtnDiv {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.authInputDiv {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.authFormLabel {
  width: 150px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.authInputBox {
  width: 150px;
  height: 25px;
  padding: 0;
  font-size: 15px;
}

.authErrorMessage {
  margin-top: 12px;
  font-size: 18px;
}

/* -------------------- PORTFOLIO -------------------- */
.portFullDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 75vw;
}

.portActionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.allStockDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cashHeader {
  margin-bottom: 15px;
  font-size: 25px;
}

.moneyBalance {
  text-decoration: underline;
}

.portFormFullDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.portValueHeader {
  margin-bottom: 15px;
  font-size: 25px;
}

.portStockDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  min-height: 250px;
  width: 350px;
  border-radius: 5px;
  padding: 15px;
}

.portNoStock {
  text-align: center;
}

/* -------------------- STOCK -------------------- */
.stockFullDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 90%;
}

.stockHeader {
  font-size: 20px;
}

.stockSpan {
  font-size: 18px;
}

.stockArrow {
  font-size: 30px;
}

.stockColorSame {
  color: gray;
}

.stockColorUp {
  color: green;
}

.stockColorDown {
  color: red;
}

/* -------------------- TRANSCTION -------------------- */
.transactFullDiv {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin-top: 20px;
}

.tranSumFullDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tranInsideDiv {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 500px;
  min-height: 100px;
  padding: 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.tranHeader {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  color: darkgreen;
}

.tranBSSum {
  display: flex;
  justify-content: space-evenly;
}

.transBuySellDiv {
  display: flex;
  justify-content: space-evenly;
}

.transactDiv {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 15px;
  border-radius: 5px;
  width: 425px;
  margin-bottom: 25px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.buyTransactDiv {
  background-color: lightgreen;
}

.sellTransactDiv {
  background-color: lightsalmon;
}

.transactHeader {
  text-align: center;
  margin-bottom: 5px;
  font-size: 26px;
}

/* -------------------- SINGLE TRANSCTION -------------------- */
.singleTransactFullDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.singleTransHeader {
  font-size: 20px;
}

.singleTransSpan {
  font-size: 18px;
}

/* -------------------- FORM -------------------- */
.formFullDiv {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.formHeader {
  font-size: 20px;
}

.formLabel {
  width: 100px;
  font-size: 18px;
}

.formInput {
  height: 25px;
  width: 75px;
  border-radius: 3px;
  font-size: 15px;
}

.formBtn {
  height: 30x;
  width: 100px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
}

.formBtn:hover {
  background-color: lightskyblue;
}

.formSectionDiv {
  display: flex;
  align-items: center;
}

/* -------------------- BUY FORM -------------------- */
.buyFormFullDiv {
  background-color: rgb(24, 156, 233);
}

/* -------------------- SELL FORM -------------------- */
.sellFormFullDiv {
  background-color: rgb(137, 101, 235);
}

.sellFormSelect {
  height: 30px;
  width: 80px;
  border-radius: 3px;
  font-size: 17px;
}

/* -------------------- ERROR MSG -------------------- */
.errMsgFullDiv {
  position: absolute;
  z-index: 10;
  background-color: rgba(200, 200, 200, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errInsideDiv {
  min-width: 25%;
  min-height: 25%;
  background-color: lightcoral;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errHeader {
  font-size: 25px;
  margin-bottom: 15px;
}

.errText {
  font-size: 18px;
  margin-bottom: 15px;
}

.errBtn {
  height: 30px;
  width: 125px;
}
